<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts :: header}" />

<body>

	<nav th:replace="~{layouts :: NavBar}" />

	<div class="container">
		<h3> Searched Results </h3>
		<hr>
		<br></br>
		
		<table class="table table table-bordered table-stripped">
			<thead class="thead-dark">
				<tr>
					<th> Location </th>
					<th> Scan Date </th>
					<th> Species </th>
					<th> Traits </th>
				</tr>
			</thead>
			<tboday>
				<tr th:each="aBird : ${birds}">
					<td th:text="${aBird.birdLocation}" />
					<td th:text="${aBird.birdSpecies}" />
					<td th:text="${aBird.birdTraits}" />
					<td th:text="${aBird.scanDate}" />
				</tr>
			</tboday>
		</table>
	</div>
</body>

</html>