<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header" />

<body>

	<nav th:replace="layouts :: NavBar" />
	
	<div class = "container">
		<h3> Satellite Scanned Locations </h3>
		<hr>
		<!-- Add New Employee Button -->
		<a th:href="@{/location/new}"
		class="btn btn-primary btn-sm mb-3">
			Add Location
		</a>
		<br></br>
		
		<table class="table table table-bordered table-stripped">
			<thead class="thead-dark">
				<tr>
					<th> Location Unique ID</th>
					<th> Location (Longitude,Latitude) </th>
					<th> Location Name </th>
				</tr>
			</thead>
			<tboday>
				<tr th:each="aLocation : ${locations}">
					<td th:text="${aLocation.locationId}" />
					<td th:text="${aLocation.location}" />
					<td th:text="${aLocation.name}" />
				</tr>
			</tboday>
		</table>
	</div>
</body>

</html>